/* Add CSS Styling */

.buttonone,
.buttontwo {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.buttonone {
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
}

.buttontwo {
    background-color: yellow;
}